name: build

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            build_tool_args: -j4
            preset: pip-local-cuda
          - os: windows-2022
            build_tool_args: /p:CL_MPCount=4
            preset: pip-local-cuda
          - os: macos-13
            preset: pip-local
            build_tool_args: -j4
          - os: macos-14
            preset: pip-local
            build_tool_args: -j4
      max-parallel: 4

    steps:
      - uses: actions/checkout@v4

      - uses: Jimver/cuda-toolkit@v0.2.18
        if: ${{ !startsWith(matrix.os, "macos") }}
        with:
          cuda: '12.5.1'
          method: 'network'
          sub-packages: '["nvcc", "cudart"]'
          non-cuda-sub-packages: '[]'
          linux-local-args: '["--toolkit"]'

      - uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "3.26.0"

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/vcpkg
          vcpkgGitCommitId: 055721089e8037d4d617250814d11f881e557549

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Build and install PBAT Python bindings
        run: |
          pip install . --config-settings=cmake.args="--preset=${{ matrix.preset }}" --config-settings=build.tool-args="${{ matrix.build_tool_args }}" -v
